<!doctype html>
<html lang="en">

<head>
    <title>Wedding Time</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <!--  -->
    <section class="top__menu">
        <div class="container dFlex">
            <div class="menu__top__left">
                <a href="">
                    <div class="logo">
                        Jack
                        <span>&</span> Rose
                        <i class="fas fa-heart"></i>
                    </div>
                </a>
            </div>
            <div class="menu__top__right">
                <ul class="nav__top dFlex">
                    <li class="nav__link"><a class="nav__item">Home</a>
                        <ul class="nav__top__submenu">
                            <li class="submenu__item"><a href="">Home Page 1</a></li>
                            <li class="submenu__item"><a href="">Home Page 2</a></li>
                            <li class="submenu__item"><a href="">Home Page 3</a></li>
                            <li class="submenu__item"><a href="">Home Page 4</a></li>
                            <li class="submenu__item"><a href="">Home Page 5</a></li>
                            <li class="submenu__item"><a href="">Home Page 6</a></li>
                        </ul>
                    </li>
                    <li class="nav__link"><a class="nav__item">Elements</a>
                        <ul class="nav__top__submenu">
                            <li class="submenu__item"><a href="">Home Page 1</a></li>
                            <li class="submenu__item"><a href="">Home Page 2</a></li>
                            <li class="submenu__item"><a href="">Home Page 3</a></li>
                            <li class="submenu__item"><a href="">Home Page 4</a></li>
                            <li class="submenu__item"><a href="">Home Page 5</a></li>
                            <li class="submenu__item"><a href="">Home Page 6</a></li>
                        </ul>
                    </li>
                    <li class="nav__link"><a class="nav__item">Pages</a>
                        <ul class="nav__top__submenu">
                            <li class="submenu__item"><a href="">Home Page 1</a></li>
                            <li class="submenu__item"><a href="">Home Page 2</a></li>
                            <li class="submenu__item"><a href="">Home Page 3</a></li>
                            <li class="submenu__item"><a href="">Home Page 4</a></li>
                            <li class="submenu__item"><a href="">Home Page 5</a></li>
                            <li class="submenu__item"><a href="">Home Page 6</a></li>
                        </ul>
                    </li>
                    <li class="nav__link"><a class="nav__item">Gallery</a>
                        <ul class="nav__top__submenu">
                            <li class="submenu__item"><a href="">Home Page 1</a></li>
                            <li class="submenu__item"><a href="">Home Page 2</a></li>
                            <li class="submenu__item"><a href="">Home Page 3</a></li>
                            <li class="submenu__item"><a href="">Home Page 4</a></li>
                            <li class="submenu__item"><a href="">Home Page 5</a></li>
                            <li class="submenu__item"><a href="">Home Page 6</a></li>
                        </ul>
                    </li>
                    <li class="nav__link"><a class="nav__item">Constructor</a>
                        <ul class="nav__top__submenu">
                            <li class="submenu__item"><a href="">Home Page 1</a></li>
                            <li class="submenu__item"><a href="">Home Page 2</a></li>
                            <li class="submenu__item"><a href="">Home Page 3</a></li>
                            <li class="submenu__item"><a href="">Home Page 4</a></li>
                            <li class="submenu__item"><a href="">Home Page 5</a></li>
                            <li class="submenu__item"><a href="">Home Page 6</a></li>
                        </ul>
                    </li>
                    <li class="nav__link"><a href="" class="nav__item">Contact</a>
                        <ul class="nav__top__submenu">
                            <li class="submenu__item"><a href="">Home Page 1</a></li>
                            <li class="submenu__item"><a href="">Home Page 2</a></li>
                            <li class="submenu__item"><a href="">Home Page 3</a></li>
                            <li class="submenu__item"><a href="">Home Page 4</a></li>
                            <li class="submenu__item"><a href="">Home Page 5</a></li>
                            <li class="submenu__item"><a href="">Home Page 6</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="iconRes">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </section>
    <div class="bg">
        <div class="banner__top">
            <div class="banner__top__text">
                <div class="banner__top__textInner">
                    <h1>Our Favorite Wedding</h1>
                    <p>LIVERPOOL</p>
                    <div>
                        <span>31.05.2018</span>
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- married -->
    <div class="married">
        <div class="container dFlex">
            <div class="married__left">
                <img src="assets/image/couple2.jpg" alt="">
            </div>
            <div class="married__right">
                <h4 class="married__title">We’re Getting Married!</h4>
                <p class="married__des"><span class="dropcap">I</span>f we had to tell you one thing about us… it would be that we’re so thankful. Thankful that God brought us together. In life you interact with a lot of different people, but only once in a lifetime do you find
                    someone who is your perfect match. We’re so excited to be getting married and most of all excited to share our lives with one another. We are also grateful for the support of our family and friends over the past two years and feel
                    blessed to have you all in our lives. We look forward to sharing this special moment with you!</p>
            </div>
        </div>
    </div>
    <!-- block-parallax -->
    <div class="block__parallax">
        <div class="container">
            <div class="block__parallax__content">
                <h3>Happily Invate You To Celebrate Our Wedding</h3>
                <div class="countdown dFlex">
                    <div class="cowndown__section">
                        <div class="countdown-amount" id="month"></div>
                        <div class="countdown-text">
                            <span class="grey">Month</span>
                        </div>
                    </div>
                    <div class="cowndown__section">
                        <div class="countdown-amount" id="day"></div>
                        <div class="countdown-text">
                            <span class="grey">Day</span>
                        </div>
                    </div>
                    <div class="cowndown__section">
                        <div class="countdown-amount" id="hours"></div>
                        <div class="countdown-text">
                            <span class="grey">Hours</span>
                        </div>
                    </div>
                    <div class="cowndown__section">
                        <div class="countdown-amount" id="minutes"></div>
                        <div class="countdown-text">
                            <span class="grey">Minutes</span>
                        </div>
                    </div>
                    <div class="cowndown__section">
                        <div class="countdown-amount" id="seconds"></div>
                        <div class="countdown-text">
                            <span class="grey">Seconds</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- photo -->
    <section class="photo dFlex">
        <div class="container">
            <div class="photo__section">
                <h3>Our photos</h3>
                <p>These sweet moments...</p>
            </div>
        </div>
    </section>
    <!-- event-->
    <section class="event">
        <div class="container">
            <div class="event__section">
                <h3>Event Details</h3>
                <p>DO NOT BE LATE TO THE CEREMONY</p>
            </div>
            <div class="event__list dFlex">
                <div class="event__item">
                    <div class="event__img">
                        <img src="assets/image/masonry15.jpg" alt="">
                        <div class="event__icon">
                            <i class="fas fa-map-marker"></i>
                        </div>
                    </div>
                    <div class="event__title">
                        <h6>Reception</h6>
                    </div>
                    <div class="event__des">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus unde tempore omnis molestias et, eaque, doloremque ab asperiores odio labore iusto.
                    </div>
                    <div class="event__important">
                        Sunday, 30 May, 2018 — 10.00 AM Stanley Dock, Regent Rd, Liverpool L3 0AN, UK
                    </div>
                </div>
                <div class="event__item">
                    <div class="event__img">
                        <img src="assets/image/masonry13.jpg" alt="">
                        <div class="event__icon">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <div class="event__title">
                        <h6>Reception</h6>
                    </div>
                    <div class="event__des">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus unde tempore omnis molestias et, eaque, doloremque ab asperiores odio labore iusto.
                    </div>
                    <div class="event__important">
                        Sunday, 30 May, 2018 — 10.00 AM Stanley Dock, Regent Rd, Liverpool L3 0AN, UK
                    </div>
                </div>
                <div class="event__item">
                    <div class="event__img">
                        <img src="assets/image/masonry14.jpg" alt="">
                        <div class="event__icon">
                            <i class="fas fa-glass-martini"></i>
                        </div>
                    </div>
                    <div class="event__title">
                        <h6>Reception</h6>
                    </div>
                    <div class="event__des">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus unde tempore omnis molestias et, eaque, doloremque ab asperiores odio labore iusto.
                    </div>
                    <div class="event__important">
                        Sunday, 30 May, 2018 — 10.00 AM Stanley Dock, Regent Rd, Liverpool L3 0AN, UK
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tab-->
    <section class="tab">
        <div class="container">
            <div class="tab__section">
                <h3>Guests</h3>
                <p>KNOW THE FUTURE OF YOUR RELATIVES IN PERSON!</p>
            </div>
            <ul class="tab__link">
                <li class="tab__link__item active1" onclick="openTab('tab1')">All</li>
                <li class="tab__link__item" onclick="openTab('tab2')">Parents</li>
                <li class="tab__link__item" onclick="openTab('tab3')">GROOM'S RELATIVES
                </li>
                <li class="tab__link__item" onclick="openTab('tab4')">BRIDE'S RELATIVES</li>
                <li class="tab__link__item" onclick="openTab('tab5')">FRIENDS</li>
            </ul>
            <div class="tab__content active2" id="tab1">
                <div class="dFlex">
                    <div class="tab__content__ele">
                        <img src="assets/image/team1.jpg" alt="">
                        <div class="tab__content__info">
                            <h6>Linda Bush</h6>
                            <p>Dolore corporis ullam nam adipisci esse eaque odio eum.</p>
                        </div>
                    </div>

                    <div class="tab__content__ele">
                        <img src="assets/image/team2.jpg" alt="">
                        <div class="tab__content__info">
                            <h6>Linda Bush</h6>
                            <p>Dolore corporis ullam nam adipisci esse eaque odio eum.</p>
                        </div>
                    </div>
                    <div class="tab__content__ele">
                        <img src="assets/image/team3.jpg" alt="">
                        <div class="tab__content__info">
                            <h6>Linda Bush</h6>
                            <p>Dolore corporis ullam nam adipisci esse eaque odio eum.</p>
                        </div>
                    </div>
                    <div class="tab__content__ele">
                        <img src="assets/image/team4.jpg" alt="">
                        <div class="tab__content__info">
                            <h6>Linda Bush</h6>
                            <p>Dolore corporis ullam nam adipisci esse eaque odio eum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab__content " id="tab2">
                <div class="dFlex">
                    <div class="tab__content__ele">
                        <img src="assets/image/team1.jpg" alt="">
                        <div class="tab__content__info">
                            <h6>Linda Bush</h6>
                            <p>Dolore corporis ullam nam adipisci esse eaque odio eum.</p>
                        </div>
                    </div>
                    <div class="tab__content__ele">
                        <img src="assets/image/team8.jpg" alt="">
                        <div class="tab__content__info">
                            <h6>Linda Bush</h6>
                            <p>Dolore corporis ullam nam adipisci esse eaque odio eum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab__content " id="tab3">
                <div class="dFlex">
                    <div class="tab__content__ele">
                        <img src="assets/image/team2.jpg" alt="">
                        <div class="tab__content__info">
                            <h6>Linda Bush</h6>
                            <p>Dolore corporis ullam nam adipisci esse eaque odio eum.</p>
                        </div>
                    </div>
                    <div class="tab__content__ele">
                        <img src="assets/image/team6.jpg" alt="">
                        <div class="tab__content__info">
                            <h6>Linda Bush</h6>
                            <p>Dolore corporis ullam nam adipisci esse eaque odio eum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab__content " id="tab4">
                <div class="dFlex">
                    <div class="tab__content__ele">
                        <img src="assets/image/team3.jpg" alt="">
                        <div class="tab__content__info">
                            <h6>Linda Bush</h6>
                            <p>Dolore corporis ullam nam adipisci esse eaque odio eum.</p>
                        </div>
                    </div>
                    <div class="tab__content__ele">
                        <img src="assets/image/team7.jpg" alt="">
                        <div class="tab__content__info">
                            <h6>Linda Bush</h6>
                            <p>Dolore corporis ullam nam adipisci esse eaque odio eum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab__content " id="tab5">
                <div class="dFlex">
                    <div class="tab__content__ele">
                        <img src="assets/image/team4.jpg" alt="">
                        <div class="tab__content__info">
                            <h6>Linda Bush</h6>
                            <p>Dolore corporis ullam nam adipisci esse eaque odio eum.</p>
                        </div>
                    </div>
                    <div class="tab__content__ele">
                        <img src="assets/image/team5.jpg" alt="">
                        <div class="tab__content__info">
                            <h6>Linda Bush</h6>
                            <p>Dolore corporis ullam nam adipisci esse eaque odio eum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- block-parallax-->
    <div class="block__parallax__bottom">
        <div class="container">
            <div class="block__parallax__section">
                <h2>Are You Attending?</h2>
                <p>Please let us know if you’ll be able to make it.</p>
                <p>
                    <a href="" class="btn__violet">R.S.V.P</a>
                </p>
            </div>
        </div>
    </div>
    <!--footer-->
    <footer>
        <div class="menu__footer">
            <ul class="nav__footer">
                <li class="nav__link"><a href="" class="nav__item">Our Lifestyle</a></li>
                <li class="nav__link"><a href="" class="nav__item">Photography</a></li>
                <li class="nav__link"><a href="" class="nav__item">My team</a></li>
                <li class="nav__link"><a href="" class="nav__item">Gallery</a></li>
                <li class="nav__link"><a href="" class="nav__item">Event Catalogue</a></li>
                <li class="nav__link"><a href="" class="nav__item">Ring Style</a></li>

            </ul>
        </div>

        <div class="logo">
            Jack
            <span>&</span> Rose
            <i class="fas fa-heart"></i>
        </div>
        <p class="copyright">© 2017 Developed & Designed by
            <a href="">AbsharBy</a></p>
        </span>
    </footer>
    <div class="load">
        <i class="fa fa-heart"></i>
    </div>
    <div class="setting dFlex">
        <div class="setting__left">
            <p>Choose your color</p>
            <div class="setting__option">
                <div class="setting__item" id="dapper"></div>
                <div class="setting__item" id="magical"></div>
                <div class="setting__item" id="eclectic"></div>
                <div class="setting__item" id="breezy"></div>
                <div class="setting__item" id="zesty"></div>
                <div class="setting__item" id="ashwood"></div>
                <div class="setting__item" id="gentle"></div>
                <div class="setting__item" id="artistic"></div>
            </div>
        </div>
        <div class="setting__right">
            <i class="fas fa-cogs"></i>
        </div>
    </div>
    <div class="backtop">
        <i class="fa fa-angle-up"></i>
    </div>
    <div id="a"></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
</body>

</html>